@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    font-family: 'Mulish', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* nav-styles-start-here */
nav {
    width: 85%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-title {
    margin-left: 1rem;
    color: #131318;
    font-family: Mulish;
    font-size: 2.25rem;
    font-weight: 800;
    width: 100%;
}

.nav-title span,
.nav-anchors>a span {
    color: #FF5400;
}

.nav-anchors {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 100%;
}

.nav-anchors a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    margin-left: 20px;
}

.nav-mobile {
    display: none;
}

/* nav-styles-end-here */
/* explore-styles-start-here */
.explore {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
    width: 85%;
    min-height: 600px;
    margin: 0 auto;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    margin-bottom: 100px;
    /* background-size: 115%; */
}

.explore-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
    margin-bottom: 24px;
    width: 100%;
}

.explore-description {
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    width: 90%;
    margin: 0 auto 50px auto;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 60%;
    margin: 0px auto;
}

.search,
.primary-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn {
    background: #FF5400;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* explore-styles-end-here */


/* popular-styles-start-here */
.popular-tour {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.tour-details {
    width: 95%;
}

.title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.title-description,
.tour-details ul>li,
.another-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.title-description {
    width: 90%;
}

.tour-details ul>li {
    margin-bottom: 16px;
    width: 80%;
}

.tour-details ul {
    padding: 3%;
}

.another-description {
    color: #5A5A5D;
    margin-bottom: 35px;
    width: 95%;

}

.tour-img {
    width: 95%;
}

.tour-img img {
    width: 100%;
    height: 100%;
}

/* popular-styles-end-here */

/* destination-section-styles-start-here */
.destination {
    width: 85%;
    margin: 100px auto;
    text-align: center;
}

.img-title {
    height: inherit;
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-container {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.img-container {
    margin-top: 24px;
}

.img-container>div {
    border-radius: 16px;
}

.maldives-img,
.indonesia-img,
.bangladesh-img,
.bandarban-img {
    height: 300px;
    background-repeat: no-repeat;
}

.srilanka-img,
.north-america-img,
.kashmir-img {
    height: 286px;
    background-repeat: no-repeat;
}

.maldives-img {
    background-image: url('../images/Rectangle\ 5.png');
    width: 48%;
}

.indonesia-img {
    background-image: url('../images/Rectangle\ 8.png');
    width: 50%;
}

.srilanka-img {
    background-image: url('../images/Rectangle\ 6.png');
    width: 34%;
}

.north-america-img {
    background-image: url('../images/Rectangle\ 7.png');
    width: 43%;
}

.kashmir-img {
    background-image: url('../images/Rectangle\ 9.png');
    width: 25%;
}

.bangladesh-img {
    background-image: url('../images/Rectangle\ 11.png');
    width: 42%;
}

.bandarban-img {
    background-image: url('../images/Rectangle\ 10.png');
    width: 58%;
}



/* destination-section-styles-end-here */

/* why-choose-us-section-start-here */
.why-choose-us {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 85%;
    text-align: center;
}

.why-choose-us .title-description {
    margin: 24px auto 48px auto;
}

.reason-of-choose {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.choose-option {
    padding: 32px;
    border: 1px solid red;
}

.choose-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.choose-icon {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
}

.reason-of-choose .another-description {
    text-align: justify;
    margin-top: 16px;
    margin-bottom: 0;
}

#choose-one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 95%;
}

#choose-two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 95%;
}

#choose-three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 50%;
    border: 1px solid red;
    margin: 24px auto;
}

/* why-choose-us-section-end-here */


/* footer styles start here */
footer{
    margin: 100px auto;
    text-align: center;
    margin-bottom: 50px;
}
#footer-icon{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

footer .another-description{
    width: 60%;
    margin: 15px auto;
}

footer hr{
    width: 70%;
    margin: 50px auto;
}
footer-foot{
    color: #131318;
font-family: Inter;
font-size: 1rem;
font-weight: 300;
}





/* footer styles end here */


/* responsive-styles-for-mobile-device */
@media screen and (max-width: 600px) {
    .nav-anchors {
        display: none;
    }

    .nav-mobile {
        display: contents;
    }

    .explore {
        background-size: cover;
    }

    .explore-title {
        width: 85%;
        margin: 30px auto 5px auto;
        font-size: 22px;
    }

    .explore-description {
        font-size: 14px;
        width: 85%;
    }

    .button-section,
    .popular-tour {
        flex-direction: column;
        align-items: center;
        width: 70%;
    }

    .search,
    .primary-btn {
        width: 255px;
        height: 52px;
    }

    .title {
        font-size: 20px;
    }

    .title-description,
    .another-description {
        font-size: 14px;
    }

    .img-container, .reason-of-choose {
        flex-direction: column;
        align-self: center;
    }
    .reason-of-choose{
        width: 90%;
        margin: 20px auto;
        justify-content: center;
    }

    .maldives-img,
    .indonesia-img,
    .srilanka-img,
    .north-america-img,
    .kashmir-img,
    .bangladesh-img,
    .bandarban-img {
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    #choose-three{
        width: 95%;
        /* padding: 0 auto; */
    }

}